* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", sans-serif;
}

body {
  height: 100vh;
}

nav.sideBar {
  width: 75px;
  height: 100%;
  background-color: rgb(27, 136, 209);
  padding: 40px 0 40px 1%;
  padding-right: 10px;
  overflow: hidden;
  transition: width 0.5s ease;
  transition: 0.5s;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav.sideBar.expandir {
  width: 300px;
}

.btn-expandir {
  width: 100%;
  padding-left: 10px;
}

.btn-expandir > i {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.ativo {
  background-color: rgb(20, 203, 213);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

ul li.menuItems:hover {
  background-color: rgb(20, 203, 213);
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

ul li.menuItems a {
  color: white;
  text-decoration: none;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  margin-top: 25px;
  line-height: 45px;
}

ul li.menuItems a .menuName {
  margin-left: 50px;
  transition: 0.5s;
  opacity: 0;
}

nav.sideBar.expandir .menuName {
  margin-left: 30px;
  opacity: 1;
}

ul li.menuItems a .icons > i {
  font-size: 30px;
  margin-left: 10px;
}
